{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width = device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link type="image/x-icon" href="{% static 'img/favicon(3).ico'%}" rel="shortcut icon">
    <title>ProjectSea</title>
</head>
<body>
<header>
    <div class="topic">
        <div class="greeting-nav">
            <h1 class="greeting">
                ProjectSea</h1>
            <div class="auth-links">
                {% if user.is_authenticated %}
                    <h3>Пользователь: {{ user.first_name }} {{ user.last_name }} - {{ user.position }}</h3>

                    <a href="{% url 'logout' %}">Выйти</a>
                    <a href="{% url 'change_user' user.worker_id %}">Редактировать профиль</a>
                    {% if user.position_id == 1 %}
                        <a href="{% url 'create_project' %}">Создать новый проект</a>
                        <a href="{% url 'projects' %}">Посмотреть проекты</a>
                        <a href="{% url 'managers_info' %}">Посмотреть информацию о менеджерах</a>
                        <a href="{% url 'register' %}">
                            Регистрация нового пользователя
                        </a>
                        <a href="{% url 'show_users' %}">Список пользователей</a>
                    {% elif user.position_id == 2 %}
                        <a href="{% url 'create_task' %}">Создать задачу по проекту</a>
                        <a href="{% url 'check_projects_for_manager' user.worker_id %}">
                            Посмотреть ваши проекты
                        </a>
                        <a href="{% url 'generate_pdf' %}">Сгенерировать отчет по задачам</a>
                    {% else %}
                        <a href="{% url 'show_worker_project' user.worker_id %}" >Посмотреть ваши проекты</a>
                        <a href="{% url 'show_tasks_for_workers' user.worker_id  %}">Посмотреть ваши задачи</a>
{#                        <a href="{% url 'show_calendar' user.worker_id %}">Посмотреть календарь задач</a>#}
                    {% endif %}
                {% else %}
                    <div class="login_button">
                        <a href="{% url 'login' %}" class="btn btn-outline-secondary">Войти в систему</a>
                        <a href="{% url 'register' %}" class="btn btn-outline-secondary">Зарегистрироваться в системе</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</header>
<div>
    {% block content %}
    {% endblock %}
</div>
</body>
</html>