{% extends 'project/basic.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/manager_info.css'%}">
    <div class="sort">
        <form method="get" id="sortForm">
            <label for="sortSelect">Сортировать по:</label>
            <select name="sort_by" id="sortSelect" onchange="document.getElementById('sortForm').submit()">
                {% for field, display_name in sort_fields.items %}
                    <option value="{{ field }}" {% if field == sort_by %}selected{% endif %}>
                        {{ display_name }}
                    </option>
                {% endfor %}
            </select>
        </form>
    </div>    
    <div class="container">
        {% if managers %}
            <div class="managers-grid">
                {% for manager in managers %}
                    <div class="manager-card">
                        <div class="manager-info">
                            <h2>ФИО: {{ manager.surname }} {{ manager.name }} {{manager.father_name}}</h2>
                            <h3>Почта: {{ manager.email }}</h3>
                            <h3>Проекты менеджера:</h3>
                            {% if projects %}
                                <div class="projects-list">
                                    {% for project in projects %}
                                        {% if project.responsible == manager %}
                                            <div class="project-card">
                                                <h3>{{ project.project_name }}</h3>
                                                <div class="project-details">
                                                    <p><strong>Описание:</strong> {{ project.description }}</p>
                                                    <p><strong>Клиент:</strong> {{ project.client }}</p>
                                                    <p><strong>Статус:</strong> <span class="status-badge">{{ project.status }}</span></p>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% else %}
                                <p class="no-projects">Проектов пока нет</p>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="no-data">Здесь пока пусто</p>
        {% endif %}
    </div>
{% endblock %}