{% extends 'project/basic.html' %}
{% block content %}
    <div>
        <form method="get" id="sortForm">
    <label for="sortSelect">Сортировать по:</label>
    <select name="sort_by" id="sortSelect" onchange="document.getElementById('sortForm').submit()">
        {% for field, display_name in sort_fields.items %}
            <option value="{{ field }}" {% if field == sort_by %}selected{% endif %}>
                {{ display_name }}
            </option>
        {% endfor %}
    </select>
</form>
        <h2>Список проектов:</h2>
        <div class="projects">
        {% if projects %}
            {% for project in projects %}
                <div class="project">
                        <h1>{{ project.project_name}}</h1>
                        <p>Описание: {{ project.description }}</p>
                        <p>Статус: {{ project.status }}</p>
                        <p>Ответственный: {{ project.responsible.name }} {{ project.responsible.surname }}</p>
                        <p>Клиент: {{ project.client.name}} {{ project.client.surname }}</p>
                        <p>Почта - {{ project.client.email }}</p>
                        <p>Дата начала проекта: {{ project.plan_start_date }}</p>
                        <p>Дата окончания проекта: {{ project.plan_finish_date }}</p>
                        <h3><a href="{% url 'change_project' project.project_id %}">Редактировать</a></h3>
                        <form method="post" action="{% url 'delete_project' project.project_id %}">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Удалить проект</button>
                        </form>
                </div>
            {% endfor %}
        {% else %}
            <h2>Проектов пока нет</h2>
        {% endif %}
        </div>
    </div>
{% endblock %}
