{% extends 'project/basic.html' %}
{% block content %}
    <div>
        <h3><a href="{% url 'check_projects_for_manager' user.worker_id %}">К списку ваших проектов</a></h3>
    <form method="get" id="sortForm">
    <label for="sortSelect">Сортировать по:</label>
    <select name="sort_by" id="sortSelect" onchange="document.getElementById('sortForm').submit()">
        {% for field, display_name in sort_fields.items %}
            <option value="{{ field }}" {% if field == sort_by %}selected{% endif %}>
                {{ display_name }}
            </option>
        {% endfor %}
    </select>
</form>
        {% if tasks %}
            {% for task in tasks %}
                <h2>Описание: {{ task.description }}</h2>
                <p>Дата начала: {{ task.start_date }}</p>
                <p>Дата окончания: {{ task.plan_finish_date }}</p>
                <p>Приоритет задачи: {{ task.priority }}</p>
                <p>Статус задачи: {{ task.status }}</p>
                {% if task.responsible_worker.last_name %}
                <p>Ответственный: {{ task.responsible_worker.last_name }} {{ task.responsible_worker.first_name }}</p>
                {% else %}
                <p>Ответственный не назначен</p>
                {% endif %}
                <a href="{% url 'change_task' task.task_id %}">Редактировать задачу</a>
            {% endfor %}
        {% else %}
            <p>Задач по проекту нет.</p>
        {% endif %}
    <br>
    <br>
        <h3>
            <a href="{% url 'create_task' %}">Добавить задачу</a>
        </h3>
    </div>
{% endblock %}