{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <title>Регистрация пользователя</title>
</head>
    <body class="auth-page">
		<div class="auth-container">
			<div class="auth-box">
				<h1>Регистрация</h1>
				<form class="auth-form" method="post">
                    {% csrf_token %}
                    {{ register_form.as_p }}
                    {% if form.errors %}
                        <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    {% endif %}
					<button type="submit" class="btn-primary">Зарегистрироваться</button>
				</form>
				{% comment %} <p>Уже есть аккаунт? <a href="{% url 'login' %}">Войти</a></p> {% endcomment %}
			</div>
		</div>
</body>
</html>