{% extends 'project/basic.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/users_list.css' %}">
<div class="sort">
    <form method="get" id="sortForm">
            <label for="sortSelect">Сортировать по:</label>
            <select name="sort_by" id="sortSelect" onchange="document.getElementById('sortForm').submit()">
                {% for field, display_name in sort_fields.items %}
                    <option value="{{ field }}" {% if field == sort_by %}selected{% endif %}>
                        {{ display_name }}
                    </option>
                {% endfor %}
            </select>
        </form>    
</div>
<div class="workers">
        {% for worker in workers %}
            <div class="worker">
                <h2>ID-{{ worker.worker_id }}</h2>
                <h2>ФИО:
                    {{ worker.last_name }}
                    {{ worker.first_name }}
                    {{ worker.father_name }}
                </h2>
                <p>
                    <p>Email: {{ worker.email }}</p>
                    {% if worker.phone %}
                        <p>Телефон: {{ worker.phone }}</p>
                    {% else %}
                        <p>Нет телефона </p>
                    {% endif %}
                    {% if worker.worker_phone %}
                        <p>Рабочий телефон: {{ worker.work_phone }}</p>
                    {% else %}
                        <p>Нет рабочего телефона</p>
                    {% endif %}
                    <p>Должность: {{ worker.position }}</p>
                    {% if worker.group_name %}
                        <p>Группа сотрудников: {{ worker.group_name }}</p>
                    {% else %}
                        <p>Не состоит в группе</p>
                    {% endif %}
                </p>
            </div>
            <div>
                <p>
                    <a href="{% url 'change_user_position' worker.worker_id %}">Поменять должность</a>
                    <a href="{% url 'delete_user' worker.worker_id %}">Удалить</a>
                </p>
            </div>
        {% endfor %}
    </div>
{% endblock %}